<app-navbarback></app-navbarback>
<div class="main-container">
  <div class="sidebar-container">
    <app-sidebarback></app-sidebarback>
  </div>
  <div class="content-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>All Imported Offers</mat-card-title>
        <mat-card-subtitle>This is the offers list imported by all users.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-flat-button color="accent" class="ze-button" (click)="openDialogImport()"><mat-icon>library_add</mat-icon>Import Offer</button>

        <mat-form-field>
          <mat-label>Search Offer</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Google" #input>
        </mat-form-field>
        
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
             <!-- Type Column -->
             <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let offer"  class="type-cell"> {{offer.type}} </td>
            </ng-container>
        
            <!-- Enterprise Column -->
            <ng-container matColumnDef="enterprise">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Enterprise </th>
              <td mat-cell *matCellDef="let offer"  class="enterprise-cell"> {{offer.enterprise}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let offer" class="email-cell">
                {{ offer.email }}&nbsp; <!-- Wrapping each email in a span -->
              </td>
            </ng-container> 

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
              <td mat-cell *matCellDef="let offer"  class="actions-cell"> 
                <button mat-flat-button color="primary" (click)="viewMore(offer)">
                  <mat-icon>launch</mat-icon>View More
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedcolumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedcolumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
              <span class="nodataclass">No data matching the filter "{{input.value}}"</span>
              </td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of offers"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
