<app-navbarback></app-navbarback>
<div class="main-container">
  <div class="sidebar-container">
    <app-sidebarback></app-sidebarback>
  </div>
  <div class="content-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Statistics</mat-card-title>
        <mat-card-subtitle>This interface showcases the different relevant statistics pertaining to the variety of offers</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          
          
           <!-- New canvas for skills chart -->
        </div>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile><canvas id="enterpriseChart"></canvas></mat-grid-tile>
          <mat-grid-tile><canvas id="typeChart"></canvas></mat-grid-tile>
          <mat-grid-tile><canvas id="skillsChart" class="skillchart"></canvas></mat-grid-tile>
          <mat-grid-tile><canvas id="tasksChart"></canvas></mat-grid-tile>
        </mat-grid-list>
        
        
      </mat-card-content>
    </mat-card>
  </div>
</div>
