<app-navbar></app-navbar>
<div class="main-container">
  <div class="sidebar-container">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>User Profile</mat-card-title>
        <mat-card-subtitle>This is your profile, here you can find various information about your account</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        
        <mat-grid-list cols="2" rowHeight="500px">
          <mat-grid-tile>
            <div class="tile-container">
              <img class="profile-image" src="assets/images/user.png" alt="profile">
              <!-- Bind the user's full name -->
              <span class="user-name">{{ user?.firstName }} {{ user?.lastName }}</span>
              <!-- Bind the user's role -->
              <span class="subtext"><mat-icon class="ex-spacer">perm_contact_calendar</mat-icon>ROLE : {{ user?.role }}</span>
              <div class="user-action-row">
                <button mat-fab extended color="primary" [routerLink]="['/offer-list']">
                  <mat-icon>list_alt</mat-icon>
                  Offer List
                </button>
                <button mat-fab extended color="accent" (click)="openDialogImport()">
                  <mat-icon>playlist_add</mat-icon>
                  Add an offer
                </button>
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-list class="info-section">
                <div mat-subheader><mat-icon>clear_all</mat-icon> User Information</div>
                <mat-list-item>
                  <mat-icon matListItemIcon>speaker_notes</mat-icon>
                  <div matListItemTitle>Full Name</div>
                  <!-- Bind the user's full name -->
                  <div matListItemLine>{{ user?.firstName }} {{ user?.lastName }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon matListItemIcon>email</mat-icon>
                  <div matListItemTitle>Email</div>
                  <!-- Bind the user's email -->
                  <div matListItemLine>{{ user?.email }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon matListItemIcon>home</mat-icon>
                  <div matListItemTitle>Address</div>
                  <!-- Bind the user's address -->
                  <div matListItemLine>{{ user?.address }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon matListItemIcon>date_range</mat-icon>
                  <div matListItemTitle>Birthday</div>
                  <!-- Bind the user's birth date -->
                  <div matListItemLine>{{ user?.birthDate | date: 'MM/dd/yyyy' }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon matListItemIcon>phone</mat-icon>
                  <div matListItemTitle>Phone Number</div>
                  <!-- Bind the user's phone number -->
                  <div matListItemLine>{{ user?.phoneNumber }}</div>
                </mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
        
      </mat-card-content>
    </mat-card>
  </div>
</div>
