<h1 mat-dialog-title>Import Offer</h1>
<div mat-dialog-content>Import a file of the job or internship offer, it'll then be processed using AI and relevant data will be extracted</div>
<!-- Hidden file input -->
<input type="file" id="fileInput" (change)="onFileSelected($event)" accept="application/pdf" style="display: none;">

<!-- Button to trigger file input -->
<button mat-button class="upload-button" (click)="triggerFileInput()">
  <mat-icon>arrow_upward</mat-icon> Upload File
</button>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>