<h1 mat-dialog-title class="dialog-title-container">
    <span>User Information</span>
    <button mat-icon-button color="warn" (click)="removeUser()" aria-label="Delete offer">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </h1>
  <div mat-dialog-content>Full overview of the user information</div>
  <mat-list class="info-section">
    <mat-list-item>
      <mat-icon matListItemIcon>assignment_late</mat-icon>
      <div matListItemTitle>User Id</div>
      <div matListItemLine>{{ user.id }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListItemIcon>chrome_reader_mode</mat-icon>
      <div matListItemTitle>Full Name</div>
      <div matListItemLine>{{ user.firstName }} {{ user.lastName }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListItemIcon>email</mat-icon>
      <div matListItemTitle>Email</div>
      <div matListItemLine>{{ user.email }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Address</div>
        <div matListItemLine>{{ user.address }}</div>
      </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListItemIcon>date_range</mat-icon>
        <div matListItemTitle>Birth Date</div>
        <div matListItemLine>{{ user.birthDate | date: 'MM/dd/yyyy' }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <mat-icon matListItemIcon>settings_phone</mat-icon>
          <div matListItemTitle>Phone Number</div>
          <div matListItemLine>{{ user.phoneNumber }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon matListItemIcon>supervised_user_circle</mat-icon>
            <div matListItemTitle>Role</div>
            <div matListItemLine>{{ user.role }}</div>
          </mat-list-item>
    
  </mat-list>
  
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
  