
    <!-- Your sidebar content goes here -->
    <mat-nav-list class="navlist-container">
        <a mat-list-item [routerLink]="['/offer-list']">
            <div class="matItemMod">
                <mat-icon>home</mat-icon>
                <span style="margin-left: 10px;">Home</span>
            </div>
        </a>
        
        <a mat-list-item [routerLink]="['/offer-list']">
            <div class="matItemMod">
                <mat-icon>line_weight</mat-icon>
                <span style="margin-left: 10px;">Offers</span>
            </div>
        </a>

        <a mat-list-item (click)="openDialogImport()">
            <div class="matItemMod">
                <mat-icon>input</mat-icon>
                <span style="margin-left: 10px;">Import</span>
            </div>
        </a>

        <a mat-list-item [routerLink]="['/stats']">
            <div class="matItemMod">
                <mat-icon>flip_to_back</mat-icon>
                <span style="margin-left: 10px;">Stats</span>
            </div>
        </a>

    </mat-nav-list>

  