<h1 mat-dialog-title class="dialog-title-container">
  <span>Offer Information</span>
  <button mat-icon-button color="warn" (click)="removeOffer()" aria-label="Delete offer">
    <mat-icon>delete_forever</mat-icon>
  </button>
</h1>
<div mat-dialog-content>A more in-depth look at the offer information</div>
<mat-list class="info-section">
  <mat-list-item>
    <mat-icon matListItemIcon>scatter_plot</mat-icon>
    <div matListItemTitle>Type</div>
    <div matListItemLine>{{ offer.type }}</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListItemIcon>chrome_reader_mode</mat-icon>
    <div matListItemTitle>Enterprise</div>
    <div matListItemLine>{{ offer.enterprise }}</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListItemIcon>email</mat-icon>
    <div matListItemTitle>Email</div>
    <div matListItemLine>{{ offer.email }}</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="list-tab">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <div matListItemTitle>Skills</div>
    <div matListItemLine *ngFor="let skill of offer.skills">
      {{ skill }}
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="list-tab">
    <mat-icon matListItemIcon>line_weight</mat-icon>
    <div matListItemTitle>Tasks</div>
    <div matListItemLine *ngFor="let task of offer.tasks">
      {{ task }}
    </div>
  </mat-list-item>
  
</mat-list>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
