<app-navbar></app-navbar>  
  <div class="main-content">
    <img class="background-image" src="assets/images/HomeBG1.jpeg" alt="Background Image">
    <div class="overlay">
      <img class="logo" src="assets/images/DataScopeLogoWhite.png" alt="Logo">
      <div class="text-container">
        <!-- <h1>Welcome to DataScope!</h1> -->
        <p>Effortlessly extract and organize essential information from job and internship offers. Our platform leverages cutting-edge AI technology to parse emails and documents, delivering relevant data in a user-friendly format. Save time and stay organized with our intelligent data extraction and management tool.</p>
        <button mat-raised-button color="primary" [routerLink]="['/login']">Get Started!</button>
      </div>
    </div>
  </div>
  