<div class="center-container">
    <div>
      <img class="logo-image" src="assets/images/DataScopeLogo.png" alt="Logo">
    </div>
    <mat-card>
      <mat-card-header class="header-center">
        <mat-card-title>Log in</mat-card-title>
        <mat-card-subtitle>Fill in the fields below with your login credentials</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- Form content goes here -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile colspan="1" rowspan="1">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" id="email">
              </mat-form-field>
            </mat-grid-tile>
  
            <mat-grid-tile colspan="1" rowspan="1">
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" id="password">
              </mat-form-field>
            </mat-grid-tile>
            
  
          </mat-grid-list>
  
          
          
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" class="submit-center" (click)="onSubmit()">Log in</button>
            
          </mat-card-actions>
        </form>
        <button mat-button [routerLink]="['/signup']">Don't have an account? Sign up instead!</button>
        <button mat-button [routerLink]="['/']">Go back</button>
      </mat-card-content>
    </mat-card>
</div>
  